.profile{
    @include format;
    padding-top: 5rem;
    & li{
        font-size: 1rem;
    }
}

/* Users */

.user{
    height: 50vh;
    width: 100%;
    background: blue;
}

/* Games */

.games{
    width: 100%;
    background: red;

    &-img{
        width: 40rem;
    }
}