.bg {
  background: #171a21; }
  .bg-full {
    height: 100vh;
    width: 100vw; }

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  color: white; }

.landing {
  margin: 0 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.title {
  font-size: 14rem;
  text-align: center; }

.search {
  color: black;
  font-size: 2rem;
  height: 3rem;
  width: 50%; }
  .search-help, .search-help a {
    font-size: 1.5rem;
    font-style: italic; }
  .search::-webkit-inner-spin-button, .search::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.user li {
  font-size: 1rem; }

/* Games */
.games {
  background: red; }
